<body id="Form-container">
  <div class="container-fluid" id="Form-container">
    <div class="container-fluid overflow-hidden">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight" id="Logo-container">
          <img class="logoF" src="assets/img/rinconesdeJuy.png">
        </div>
        <div class="p-2 bd-highlight" id="CheckIn-container" *ngIf="band == false">
          <h1>CHECK IN EN LINEA</h1>
          <h3>Gracias por visitar Termas El Corazon. Por favor realice un check in por cada habitación reservada,
            indicando los datos de todos los ocupantes por cada habitación.</h3>
            <!-- Inicio de Formulario -->
          <form class="formulario" #reservaForm="ngForm">
            <!-- Nombre y apellido titular -->
            <div class="form-group">
              <label for="datosTitular" class="form-label">Datos del titular de la reserva
                <span class="obligatorio">*</span>
              </label>
              <input type="text" name="nombre" id="nombre" placeholder="Nombres" [(ngModel)]="titular.nombre" required #nombre="ngModel">
              <input type="text" name="apellido" id="apellido" placeholder="Apellidos" [(ngModel)]="titular.apellido" required #apellido="ngModel">
              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched) || apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                <div *ngIf="nombre.errors || apellido.errors">
                  Su nombre y apellido son campos necesarios
                </div>
              </div>
            </div>
           
            <!-- DNI titular -->
            <div class="form-group">
              <label for="dni" class="form-label">Nº de Documento de Identidad
                <span class="obligatorio">*</span>
              </label>
              <input type="number" name="documento" id="dni" placeholder="DNI o Pasaporte" [(ngModel)]="titular.documento" required minlength=8 #dni="ngModel">
              <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
                <div *ngIf="dni.errors?.['required'] || dni.errors?.['minlength']">
                  Por favor, ingrese su numero de documento. 
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="copiadnia" class="form-label">Copia Documento de Identidad del titular
                <span class="obligatorio">*</span>
              </label>
              <input type="file"(change)="onFileChanges($event)" alife-file-to-base64  class="form-control"  name="documentacion" id="copiadni" aria-describedby="dniHelp"
               accept="image/x-png,image/gif,image/jpeg"  >
              <div id="dniHelp" class="form-text">Solo archivos pdf, doc, docx, jpg, jpeg, png</div>
            </div>
  
            <div class="mb-3">
              <label for="acompaniantes" class="form-label">Nº de acompañantes</label>
              <select class="custom-select" name="cantidad" id="CantAcomp" [(ngModel)]="tab" (change)="mostrarAcompanantes()">
                <option selected value="0">Sin acompañante</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>

            <!-- Formulario acompanantes -->
            <div>
              <form class="form-group" #acompanantesForm="ngForm" *ngFor="let acom of acompanantes, let j = index">
                <label for="datosAcomp" class="form-label">Datos del Acompañante
                  <span class="obligatorio">*</span>
                </label>
                <input type="text" name="nombre1" id="nombreAcomp" placeholder="Nombres" [(ngModel)]="acom.nombre" required #nombreAcomp="ngModel">
                <input type="text" name="apellido1" id="apellidoAcomp" placeholder="Apellidos" [(ngModel)]="acom.apellido" required #apellidoAcomp="ngModel">
                <div *ngIf="nombreAcomp.invalid && (nombreAcomp.dirty || nombreAcomp.touched) || apellidoAcomp.invalid && (apellidoAcomp.dirty || apellidoAcomp.touched)" class="alert alert-danger">
                  <div *ngIf="nombreAcomp.errors || apellidoAcomp.errors">
                    Los campos de nombre y apellido son necesarios
                  </div>
                </div>
    
                <label for="dniAcomp1" class="form-label">Nº de Documento de Identidad
                  <span class="obligatorio">*</span>
                </label>
                <input type="number" name="documento1" id="dniAcomp" placeholder="DNI o Pasaporte" [(ngModel)]="acom.documento" required #dniAcomp="ngModel">  
                  <div *ngIf="dniAcomp.invalid && (dniAcomp.dirty || dniAcomp.touched)" class="alert alert-danger">
                    <div *ngIf="dniAcomp.errors">
                      Por Favor ingrese su numero de documento.
                    </div>
                  </div>
                <label for="copiadniaAcomp1" class="form-label">Copia Documento del Acompañante
                  <span class="obligatorio">*</span>
                </label>
                <input class="form-control" name="documentacion1" alife-file-to-base64 (onFileChanged)="cargarDocumentacion($event)" type="file" id="copiadniAcomp" aria-describedby="dniHelp">
                <ng-container *ngIf="j == tab-1">
                  <button type="button" class="btn btn-warning" style="margin-left: 75px;" (click)="guardarAcompanantes()" [disabled]="acompanantesForm.invalid">Guardar acompañantes</button>
                </ng-container>
              </form>  
            </div>
            
            <!-- fin del formulario acompanantes -->
            
            <!-- Fecha llegada, salida y hora de llegada -->
            <div class="form-group">
              <label for="llegada" class="form-label">Fecha de llegada
                <span class="obligatorio">*</span>
              </label>
              <input type="date" name="fechaLlegada" max="{{reserva.fechaSalida}}" id="diall" [(ngModel)]="reserva.fechaLlegada" required #diall="ngModel">
              <label for="salida" class="form-label">Fecha de salida
                <span class="obligatorio">*</span>
              </label>
              <input type="date" name="fechaSalida" name="diasal" min="{{reserva.fechaLlegada}}" id="diasal" [(ngModel)]="reserva.fechaSalida" required #diasal="ngModel">
                <div *ngIf="diall.invalid && (diall.dirty || diall.touched) || diasal.invalid && (diasal.dirty || diasal.touched)" class="alert alert-danger">
                  <div *ngIf="diall.errors || diasal.errors">
                    Rellene los campos de fecha correctamente. 
                  </div>
                </div>

              <label for="horario"   class="form-label">Horario aproximado de llegada
                <span class="obligatorio">*</span>
              </label>
              <input [(ngModel)]="reserva.horaLLegada" id="hora" type="time" name="eta" required #hora="ngModel">
              <div *ngIf="hora.invalid && (hora.dirty || hora.touched)" class="alert alert-danger">
                <div *ngIf="hora.errors">
                  Su horario de llegada es importante para nosotros. 
                </div>
              </div>
            </div>

            <!-- Datos de Titular -->
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico
                <span class="obligatorio">*</span>
              </label>
              <input type="email" name="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" [(ngModel)]="titular.email" required #email="ngModel">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors?.['required']">
                  Por favor, ingrese su direccion de correo electronico. 
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="tel" class="form-label">Telefono Celular
                <span class="obligatorio">*</span>
              </label>
              <input type="tel" name="telefono" id="tel" placeholder="(Código de área) Número" [(ngModel)]="titular.telefono" required #tel="ngModel">
              <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="alert alert-danger">
                <div *ngIf="tel.errors?.['required']">
                  Por favor, ingrese su numero de telefono. 
                </div>
              </div>
            </div>
  
            <!-- Direccion titular -->
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección
                <span class="obligatorio">*</span>
              </label>
              <input type="text" name="calle" id="calle" placeholder="Calle" [(ngModel)]="direccionTitular.calle" required #calle="ngModel">
              <input type="number" name="numero" id="numero" required="obligatorio" placeholder="Número, Dpto/Casa" [(ngModel)]="direccionTitular.numero" required #numero="ngModel">
              <input type="text" name="ciudad" id="ciudad" required="obligatorio" placeholder="Ciudad" [(ngModel)]="direccionTitular.ciudad" required #ciudad="ngModel">
              <input type="text" name="region" id="region" required="obligatorio" placeholder="Provincia" [(ngModel)]="direccionTitular.region" required #region="ngModel">
              <select class="form-select" aria-label="Default select example" name="pais" id="pais" [(ngModel)]="direccionTitular.pais" required #pais="ngModel">
                <option hidden selected>Selecciona tu país</option>
                <option value="AF">Afganistán</option>
                <option value="AL">Albania</option>
                <option value="DE">Alemania</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antártida</option>
                <option value="AG">Antigua y Barbuda</option>
                <option value="AN">Antillas Holandesas</option>
                <option value="SA">Arabia Saudí</option>
                <option value="DZ">Argelia</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaiyán</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrein</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BE">Bélgica</option>
                <option value="BZ">Belice</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermudas</option>
                <option value="BY">Bielorrusia</option>
                <option value="MM">Birmania</option>
                <option value="BO">Bolivia</option>
                <option value="BA">Bosnia y Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BR">Brasil</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="BT">Bután</option>
                <option value="CV">Cabo Verde</option>
                <option value="KH">Camboya</option>
                <option value="CM">Camerún</option>
                <option value="CA">Canadá</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CY">Chipre</option>
                <option value="VA">Ciudad del Vaticano (Santa Sede)</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comores</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, República Democrática del</option>
                <option value="KR">Corea</option>
                <option value="KP">Corea del Norte</option>
                <option value="CI">Costa de Marfíl</option>
                <option value="CR">Costa Rica</option>
                <option value="HR">Croacia (Hrvatska)</option>
                <option value="CU">Cuba</option>
                <option value="DK">Dinamarca</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egipto</option>
                <option value="SV">El Salvador</option>
                <option value="AE">Emiratos Árabes Unidos</option>
                <option value="ER">Eritrea</option>
                <option value="SI">Eslovenia</option>
                <option value="ES">España</option>
                <option value="US">Estados Unidos</option>
                <option value="EE">Estonia</option>
                <option value="ET">Etiopía</option>
                <option value="FJ">Fiji</option>
                <option value="PH">Filipinas</option>
                <option value="FI">Finlandia</option>
                <option value="FR">Francia</option>
                <option value="GA">Gabón</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GD">Granada</option>
                <option value="GR">Grecia</option>
                <option value="GL">Groenlandia</option>
                <option value="GP">Guadalupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GY">Guayana</option>
                <option value="GF">Guayana Francesa</option>
                <option value="GN">Guinea</option>
                <option value="GQ">Guinea Ecuatorial</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="HT">Haití</option>
                <option value="HN">Honduras</option>
                <option value="HU">Hungría</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IQ">Irak</option>
                <option value="IR">Irán</option>
                <option value="IE">Irlanda</option>
                <option value="BV">Isla Bouvet</option>
                <option value="CX">Isla de Christmas</option>
                <option value="IS">Islandia</option>
                <option value="KY">Islas Caimán</option>
                <option value="CK">Islas Cook</option>
                <option value="CC">Islas de Cocos o Keeling</option>
                <option value="FO">Islas Faroe</option>
                <option value="HM">Islas Heard y McDonald</option>
                <option value="FK">Islas Malvinas</option>
                <option value="MP">Islas Marianas del Norte</option>
                <option value="MH">Islas Marshall</option>
                <option value="UM">Islas menores de Estados Unidos</option>
                <option value="PW">Islas Palau</option>
                <option value="SB">Islas Salomón</option>
                <option value="SJ">Islas Svalbard y Jan Mayen</option>
                <option value="TK">Islas Tokelau</option>
                <option value="TC">Islas Turks y Caicos</option>
                <option value="VI">Islas Vírgenes (EEUU)</option>
                <option value="VG">Islas Vírgenes (Reino Unido)</option>
                <option value="WF">Islas Wallis y Futuna</option>
                <option value="IL">Israel</option>
                <option value="IT">Italia</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japón</option>
                <option value="JO">Jordania</option>
                <option value="KZ">Kazajistán</option>
                <option value="KE">Kenia</option>
                <option value="KG">Kirguizistán</option>
                <option value="KI">Kiribati</option>
                <option value="KW">Kuwait</option>
                <option value="LA">Laos</option>
                <option value="LS">Lesotho</option>
                <option value="LV">Letonia</option>
                <option value="LB">Líbano</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libia</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lituania</option>
                <option value="LU">Luxemburgo</option>
                <option value="MK">Macedonia, Ex-República Yugoslava de</option>
                <option value="MG">Madagascar</option>
                <option value="MY">Malasia</option>
                <option value="MW">Malawi</option>
                <option value="MV">Maldivas</option>
                <option value="ML">Malí</option>
                <option value="MT">Malta</option>
                <option value="MA">Marruecos</option>
                <option value="MQ">Martinica</option>
                <option value="MU">Mauricio</option>
                <option value="MR">Mauritania</option>
                <option value="YT">Mayotte</option>
                <option value="MX">México</option>
                <option value="FM">Micronesia</option>
                <option value="MD">Moldavia</option>
                <option value="MC">Mónaco</option>
                <option value="MN">Mongolia</option>
                <option value="MS">Montserrat</option>
                <option value="MZ">Mozambique</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Níger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk</option>
                <option value="NO">Noruega</option>
                <option value="NC">Nueva Caledonia</option>
                <option value="NZ">Nueva Zelanda</option>
                <option value="OM">Omán</option>
                <option value="NL">Países Bajos</option>
                <option value="PA">Panamá</option>
                <option value="PG">Papúa Nueva Guinea</option>
                <option value="PK">Paquistán</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Perú</option>
                <option value="PN">Pitcairn</option>
                <option value="PF">Polinesia Francesa</option>
                <option value="PL">Polonia</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="UK">Reino Unido</option>
                <option value="CF">República Centroafricana</option>
                <option value="CZ">República Checa</option>
                <option value="ZA">República de Sudáfrica</option>
                <option value="DO">República Dominicana</option>
                <option value="SK">República Eslovaca</option>
                <option value="RE">Reunión</option>
                <option value="RW">Ruanda</option>
                <option value="RO">Rumania</option>
                <option value="RU">Rusia</option>
                <option value="EH">Sahara Occidental</option>
                <option value="KN">Saint Kitts y Nevis</option>
                <option value="WS">Samoa</option>
                <option value="AS">Samoa Americana</option>
                <option value="SM">San Marino</option>
                <option value="VC">San Vicente y Granadinas</option>
                <option value="SH">Santa Helena</option>
                <option value="LC">Santa Lucía</option>
                <option value="ST">Santo Tomé y Príncipe</option>
                <option value="SN">Senegal</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leona</option>
                <option value="SG">Singapur</option>
                <option value="SY">Siria</option>
                <option value="SO">Somalia</option>
                <option value="LK">Sri Lanka</option>
                <option value="PM">St Pierre y Miquelon</option>
                <option value="SZ">Suazilandia</option>
                <option value="SD">Sudán</option>
                <option value="SE">Suecia</option>
                <option value="CH">Suiza</option>
                <option value="SR">Surinam</option>
                <option value="TH">Tailandia</option>
                <option value="TW">Taiwán</option>
                <option value="TZ">Tanzania</option>
                <option value="TJ">Tayikistán</option>
                <option value="TF">Territorios franceses del Sur</option>
                <option value="TP">Timor Oriental</option>
                <option value="TG">Togo</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad y Tobago</option>
                <option value="TN">Túnez</option>
                <option value="TM">Turkmenistán</option>
                <option value="TR">Turquía</option>
                <option value="TV">Tuvalu</option>
                <option value="UA">Ucrania</option>
                <option value="UG">Uganda</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistán</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="YE">Yemen</option>
                <option value="YU">Yugoslavia</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabue</option>
              </select>
              <div *ngIf="calle.invalid && (calle.dirty || calle.touched) || numero.invalid && (numero.dirty || numero.touched) 
                || ciudad.invalid && (ciudad.dirty || ciudad.touched) || region.invalid && (region.dirty || region.touched) || pais.invalid && (pais.dirty || pais.touched)" class="alert alert-danger">
                <div *ngIf="calle.errors?.['required']">
                  Todos los campos de direccion son obligatorios 
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="mensaje" class="form-label">Mensaje
                <span class="obligatorio">*</span>
              </label>
              <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" name="notas"
                placeholder="Si desea dejarnos alguna recomendación para el día de su llegada, indiquela aquí..." [(ngModel)]="reserva.notas"></textarea>
            </div>
  
            <div class="mb-3">
              <label for="transp" class="form-label">Medio de transporte para llegar a Termas el Corazón
                <span class="obligatorio">*</span>
              </label>
              <div class="columnas" id="radio-group">
                <div class="columna-izquierda">
                  <label for="vehiculo">
                    <input class="form-check-input" type="radio" name="medioTransporte" value="vehiculo" id="vehiculo"
                      (click)="mostrarContenedor()" [(ngModel)]="reserva.medioTransporte">
                    <span class="spanR">Vehiculo</span>
                  </label>
  
                  <label for="Bus">
                    <input class="form-check-input" type="radio" name="medioTransporte" value="Bus" id="Bus" (click)="ocultar()" [(ngModel)]="reserva.medioTransporte" required #Bus="ngModel"> 
                    <span class="spanR">Bus</span>
                  </label>
                </div>
  
                <div class="columna-derecha">
                  <label for="Taxi">
                    <input class="form-check-input" type="radio" name="medioTransporte" value="Taxi" id="Taxi" (click)="ocultar()" [(ngModel)]="reserva.medioTransporte" required #Taxi="ngModel">
                    <span class="spanR">Taxi/Uber</span>
                  </label>
  
                  <label for="Transfer">
                    <input class="form-check-input" type="radio" name="medioTransporte" value="Transfer" id="Transfer"
                      (click)="ocultar()" [(ngModel)]="reserva.medioTransporte" required #Transfer="ngModel">
                    <span class="spanR">Transfer</span>
                  </label>
                </div>
                <div *ngIf="Bus.invalid && (Bus.dirty || Bus.touched) || Taxi.invalid && (Taxi.dirty || Taxi.touched) 
                  || Transfer.invalid && (Transfer.dirty || Transfer.touched)" class="alert alert-danger">
                    <div *ngIf="Bus.errors?.['required'] || Taxi.errors?.['required'] || Transfer.errors?.['required'] ">
                      Todos los campos de direccion son obligatorios 
                    </div>
                </div>
              </div>
            </div>
  
            <div class="mb-3" *ngIf="mostrar == true">
              <label for="nombre" class="form-label">Marca Vehiculo
                <span class="obligatorio">*</span>
              </label>
              <input [(ngModel)]="vehiculo.marca" type="text" name="introducir_v" id="m" placeholder="Vehiculo" required #m="ngModel">
  
              <label for="nombre" class="form-label">Modelo
                <span class="obligatorio">*</span>
              </label>
              <input [(ngModel)]="vehiculo.modelo" type="text" name="introducir_c" id="c" placeholder="Modelo" required #c="ngModel">
  
              <label for="nombre" class="form-label">Color
                <span class="obligatorio">*</span>
              </label>
              <input [(ngModel)]="vehiculo.color" type="text" name="introducir_p" id="p" placeholder=" Color" required #p="ngModel">
  
              <label for="nombre" class="form-label">Patente
                <span class="obligatorio">*</span>
              </label>
              <input [(ngModel)]="vehiculo.patente" type="text" name="introducir_v" id="v" placeholder="Patente" required #v="ngModel">

              <div *ngIf="m.invalid && (m.dirty || m.touched) || c.invalid && (c.dirty || c.touched) 
                  || p.invalid && (p.dirty || p.touched) || v.invalid && (v.dirty || v.touched)" class="alert alert-danger">
                    <div *ngIf="m.errors?.['required'] || c.errors?.['required'] || p.errors?.['required'] || v.errors?.['required']">
                      Todos los campos de vehiculo son obligatorios 
                    </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="transp" class="form-label">¿Con qué frecuencia desea el servicio de limpieza de la habitación?
                <span class="obligatorio">*</span>
              </label>
              <div class="columnas" id="radio-group">
                <div class="columna-izquierda">
                  <label for="dias">
                    <input class="form-check-input" type="radio" name="frecuenciaLimpieza" value="dias" id="dias" [(ngModel)]="reserva.frecuenciaLimpieza" required #dias="ngModel">
                    <span class="spanR">Todos los días</span>
                  </label>
  
                  <label for="dia">
                    <input class="form-check-input" type="radio" name="frecuenciaLimpieza" value="dia" id="dia" [(ngModel)]="reserva.frecuenciaLimpieza" required #dia="ngModel">
                    <span class="spanR">Día por medio</span>
                  </label>
                </div>
  
                <div class="columna-derecha">
                  <label for="solicitud">
                    <input class="form-check-input" type="radio" name="frecuenciaLimpieza" value="solicitud" id="solicitud" [(ngModel)]="reserva.frecuenciaLimpieza" required #solicitud="ngModel">
                    <span class="spanR">Si se solicita</span>
                  </label>
  
                  <label for="nunca">
                    <input class="form-check-input" type="radio" name="frecuenciaLimpieza" value="nunca" id="nunca" [(ngModel)]="reserva.frecuenciaLimpieza"required #nunca="ngModel">
                    <span class="spanR">Nunca</span>
                  </label>
                </div>
              </div>
              <div *ngIf="dias.invalid && (dias.dirty || dias.touched) || dia.invalid && (dia.dirty || dia.touched) 
                  || solicitud.invalid && (solicitud.dirty || solicitud.touched) || nunca.invalid && (nunca.dirty || nunca.touched)" class="alert alert-danger">
                    <div *ngIf="dias.errors?.['required'] || dia.errors?.['required'] || solicitud.errors?.['required'] || nunca.errors?.['required']">
                      Todos los campos de vehiculo son obligatorios 
                    </div>
                  </div>
            </div>
  
            <div class="d-flex justify-content-center mb-3" *ngIf="status == 0">
              <button type="button" class="btn btn-warning" (click)="guardarReserva()" [disabled]="reservaForm.invalid || res==false">Enviar</button>
            </div>
  
            <div class="d-flex justify-content-center mb-3" *ngIf="status == 1">
              <button type="button" class="btn btn-warning" (click)="firmar()" [disabled]="reservaForm.invalid || res==false">Firmar</button>
            </div>
            
  
            <div class="aviso">
              <span class="obligatorio"> * </span>los campos son obligatorios.
            </div>
          </form>
        </div>
        <div class="tarjeta" id="return" *ngIf="band==true">
          <div>
            <div>
              <h2 class="text-center">¡Su reserva ha sido registrada con exito!</h2><br>
            </div>            

              <h4 class="text-center">Puede cerrar esta ventana o, si lo desea, puede generar una nueva reserva.</h4>
            <a type="button" (click)="recargar()" class="btn btn-dark" style="padding-inline: 113px; width: 440px;">Cargar nueva reserva</a>

          </div>  
        </div>
      </div>
    </div>
  </div>
</body>