@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


#Form-container {
  font-family: 'Noto Sans', sans-serif;
  background-color: #165F8C;  
  background-image: url(src/assets/img/LobbyHotel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#Logo-container {
  width: 90%;
  max-width: 460px;
  min-width: 200px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #fbfbfbc7;
  padding-top: 30px;
  padding-bottom: 30px
}

.logoF {
  width: 100%;
  max-width: 460px;
  min-width: 200px;
  height: auto;
  padding-right: 20px;
}

#CheckIn-container {
  width: 90%;
  max-width: 460px;
  min-width: 200px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #fbfbfbc7;
  padding-top: 30px;
  padding-bottom: 30px
}

#return{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 460px;
    min-width: 200px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #fbfbfbc7;
}

.mb-3 {
  margin-bottom: 1rem !important;
  margin-top: -3px;
}

h1 {
  font-size: 39px;
  color: #fb7c3b;
  margin: auto;
  text-align: center;
}


h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
  margin-top: 13px;
  margin-bottom: -13px;
  text-align: center;
}

label {
  display: block;
  float: center;
  margin-left: 19px;
}

input, select {
  background-color: #fbfbfb;
  width: 90%;
  /* max-width: 408px;
  min-width: 148px;  */
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0494dc;
  margin-top: -2px;
  margin-left: 19px;
  margin-bottom: 10px;
  padding-left: 8px;
}

.form-text {
  margin-top: .25rem;
  font-size: .875em;
  color: #6c757d;
  margin-top: -7px;
  text-align: center;
}

textarea{
  background-color: #fbfbfb;
  width: 90%;
  max-width: 408px;
  min-width: 148px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0494dc;
  margin-top: -2px;
  margin-left: 19px;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-top: 4px;
  font-family: 'Noto Sans', sans-serif;
}

.form-check-input[type=radio] {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  left: 15px;
 }

 .spanR{
  vertical-align: super;
  display: inline-block;
  line-height: 20px;
  margin-top: -1px;
  margin-left: 7px;
  color: black;
 }

 .columnas {
  display: flex;
}

.columna-izquierda {
  flex: 1;
  margin-top: 7px;
}

.columna-derecha {
  flex: 1;
  margin-top: 7px;
}

button{
  /* min-height: 45px; 
   padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;      */
  text-transform: uppercase;
  background-color: #0494dc; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0494dc;  
  width: 300px;
  /* min-;   
  cursor: pointer;
  transform: translateX(18%);
  margin-left: 14px;  */
}

span{
  color: #d13c1a; 
}

.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
  margin-bottom: 4px;
    margin-left: 9px;
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.tarjeta{
  margin: auto; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 460px;
  min-width: 200px;
  height: auto;
  padding: 1rem;
  background-color: white;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 425px) {
  #radio-group {
    display: flex;
    flex-direction: column;
  }
}