<body class="fondo">
  <div class="container-fluid" id="Form-container">
    <div class="container-fluid overflow-hidden">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight" id="Logo-container">
          <img class="logoF" src="assets/img/rinconesdeJuy.png">
        </div>
    
        <div class="tarjeta">
            <div *ngIf="conf==false">
                <!-- <h4 class="text-center">Por favor, dibuje su firma</h4> -->
                <!-- <canvas #sigPad width="300" height="200" (mousedown)="onMouseDown($event)"
                (mousemove)="onMouseMove($event)" class="centrar" style="border-radius: 15px; background-color: rgb(229 138 144);"></canvas>
               -->
                <div class="signature-container" style="border-color:white;">
                  <signature-pad class="centrar" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                </div>
                <br/>
                <button type="button" class="btn boton" style="margin: 8px; padding-inline: 115px; margin-left: 10%" (click)="clearSignature()">Limpiar</button><br>
                <button type="button" class="btn boton" style="margin:  8px; padding-inline: 113px;margin-left: 10%" (click)="savePad()">Guardar</button>
                <br/>
            </div>
            <div *ngIf="conf==true">
              <h5 class="text-center">Su firma se ha registrado correctamente</h5><br>
              <a type="button" href="/" class="btn boton" style="padding-inline: 113px;">Volver a listado de reservas</a>
            </div> 
            <!-- <div class="tarjeta" *ngIf="conf==true">
                <img style="background-color: aliceblue; border-radius: 15px" [src]="img">
            </div> -->
        </div>
      </div>
    </div>
  </div>
</body>
