@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.mat-typography h4{
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
    margin-top: 13px;
    margin-bottom: -13px;
    text-align: center;
}
.dni{
    aspect-ratio: 4/3;
}
.card{
   /* border-radius: 6%;
    padding: 1rem;
    color: aliceblue;
    background-color: rgb(9, 28, 73);
    display: flex;
   flex-wrap: wrap;
   flex-direction: column;
    --bs-modal-bg: rgba(255, 255, 255, 0);  */
    margin: auto; 
    border-radius: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    --bs-modal-bg: rgba(255, 255, 255, 0);
    padding: 1rem;
    color: aliceblue;
    background-color: rgb(9, 28, 73);
} 

.card-header{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --bs-modal-bg: rgba(255, 255, 255, 0);
}
.fila{
    display: flex;
    flex-direction: row;
}
.btn-sig{
    background-color: rgb(4, 4, 46);
    width: 130px;
} 

.separador{
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
    margin-top: -10px;
    margin-bottom: 7px;
    size: 1.5px;
    background-color: black;
}


.accordion-button {
    height: 20px;
    color: white;
    text-align: left;
    background-color: #091c49;
    font-size: 12px;
    border-color:#5d6c8b;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #091c49;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-item {
    color: #ffffff;
    background-color: #5d6c8b;
}

.accordion {
    --bs-accordion-border-color: #091c49;
    --bs-accordion-btn-padding-x: 0rem;
    --bs-accordion-btn-padding-y: 0.5rem;
}

.accordion-body{
        /* align-items: start; */
        display: flow-root;
        padding: inherit;
        margin-left: 17px;
}

.firma{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}